hr.new1 {  
    border-top: 1px solid aqua;
}

body {
    background-color: bisque;
    background-image: url("./3b8c7d48a1fd02d9320e9e34e37e10b8.jpeg");
    text-align:left ;
    font-weight: 500;
    font-size: 20px;
}

.img-container   {
  text-align: center;

}

p{
  text-align: left;
}

.border{
    border: 5px outset rgb(235, 202, 15);
  background-color: rgb(92, 200, 236);    
  text-align: center;
}

.Div_backset1 {
  border: 5px outset rgb(38, 218, 194);
  background-color: rgb(121, 186, 207);    
  text-align: center;
}

table,th,td{
    border: 0px white;
    border-collapse: collapse;
    border-style: inset;
}
th,td{
  
  text-align: center;
  
  
}
/*
style="font-family:'Courier New'" class=".sectionContent h3"
*/
.sans{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  background-color:collapose;

}



.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.sectionContent h3 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.1em;
	margin-bottom: -2px;
}



.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}


.article Section{ 
    display: block;
  
}

.Background {
    border: 5px lightgray;
    
}


.subtitle{
  float: left;
  font-size: 1.25em;
}
.left{
  float:left
}

.table-b{
    border-color: aqua;
    border-style: inset;
    background-color: azure;
    
    
    border: 5px solid black;
    border-collapse: collapse;
}

/* =========testing============ */
.zoom{
  width:600px;
  height:auto;
  cursor: pointer;
}

/*light box for zoom photo */
.lbOuter{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 999;

  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
}

.lbOuter.show{
  visibility: visible;
  opacity: 1;
}

/* light box image size */
.lbInner{
  text-align: center;   /*H C*/
  position: relative;   /*V C*/
  /*set for nothing but center*/
  top: 50%;             
  transform: translateY(-50%);
}

.lbInner img{
  width:100%;
  height: auto;
}
/* end of test , not working some how ?*/


/* test 2*/
.heimu, .heimu rt {
  background-color:#252525
}

.heimu:active, .heimu:hover {
  color: rgb(255, 255, 255)
}

.heimu {
  background-color: #4c6cb3;
  color: #4c6cb3;
  text-shadow: none;
  transition: color 0.3s;
}

/*   successed ....*/

.md {
  height: 10px; 
  background-color: rgb(232, 247, 102);
  border: collapse;
}

.center{
  text-align: center;
}