hr.new1 {  
    border-top: 1px solid aqua;
}

body {
    background-color: bisque;
    
    text-align:left ;
}

.img-container   {
  text-align: center;

}

p{
  text-align: left;
}

.border{
    border: 5px outset rgb(235, 202, 15);
  background-color: rgb(92, 200, 236);    
  text-align: center;
}

.Div_backset1 {
  border: 5px outset rgb(38, 218, 194);
  background-color: rgb(121, 186, 207);    
  text-align: center;
}

table,th,td{
    border: 0px white;
    border-collapse: collapse;
    border-style: inset;
}
th,td{
  background-color:collapose;
  text-align: center;
}

td{
  font-style:"font-family:verdana";
  font-weight: 500;
}



.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.sectionContent h3 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.1em;
	margin-bottom: -2px;
}



.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}


.article Section{ 
    display: block;
  
}

.Background {
    border: 5px lightgray;
    background-image: "";
}


.subtitle{
  float: left;
  font-size: 1.25em;
}